@{
    ViewData["Title"] = "Gallery Page";
}

<div class="text-center">
    <h1 class="display-1">This is new Gallery</h1>
    <img src="~/img/park1.jpg" class="img" alt="My image" />
    <img src="~/img/park2.jpg" class="img" alt="My image" />
    <img src="~/img/park3.jpeg" class="img" alt="My image" />
</div>
