body{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

h2{
    font-size: 36pt;
}
h3{
    font-size: 24pt;
}
p{
    font-size: 18pt;
}
.header{
    width: 80%;
    margin: 0 auto;
    justify-items: center;
    column-count: 2;
}
.header img {
    height: 200px;
}
.ropes-main{
    background-color: #b6c1c5;
    border-radius: 8px;
    height: 200px;
    width: 700px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 1px;
}
.card-container{
    margin: 20px;
}
.card {
    padding: 20px;
    outline-color: #b6c1c5;
    outline-style: auto;
    outline-width: 20px;
    border-radius: 8px;
    position: relative;
    width: 1600px;
    margin: 20px;
}

.card-right {
    float: right;
    clear: both;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

.footer img {
    height: 300px;
    width: 300px;
    cursor: pointer;
}

.footer{
    background-color: #b6c1c5;
    justify-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}