@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="container">
        <table class="table">
            <thead class="thead-light"></thead>
            <tbody>
                @foreach (var item in Model._phones)
                {
                    <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item)
                            </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
